<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Post time</th>
      <th>Update time</th>
      <th>Contact name</th>
      <th>Contact method</th>
      <th>Contact phone</th>
      <th>Contact email</th>
      <th>Title</th>
      <th>Body</th>
      <th>Price</th>
      <th>Region</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Area</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.post_id %></td>
        <td><%= listing.post_time %></td>
        <td><%= listing.update_time %></td>
        <td><%= listing.contact_name %></td>
        <td><%= listing.contact_method %></td>
        <td><%= listing.contact_phone %></td>
        <td><%= listing.contact_email %></td>
        <td><%= listing.title %></td>
        <td><%= truncate(listing.body, :length => 100,  :separator => ' ') %></td>
        <td><%= listing.price %></td>
        <td><%= listing.region %></td>
        <td><%= listing.address %></td>
        <td><%= listing.longitude %></td>
        <td><%= listing.latitude %></td>
        <td><%= listing.category %></td>
        <td><%= listing.subcategory %></td>
        <td><%= listing.area %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
